---
// import { Icon } from '@astrojs/starlight/components';
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro';
import Path from 'path';
import CustomIcon from './CustomIcon.astro';

const { imgSrc } = Astro.props;
const { iconName } = Astro.props;
const { colour } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata}>("/src/assets/**/*.{jpeg,jpg,png,gif}");
const absPath = Path.isAbsolute(imgSrc? imgSrc : '/')? imgSrc : Path.join('/src/content', Astro.url.pathname, imgSrc).replace(/\\/g,'/');
// if (!images[imgSrc]) throw new Error(`"${imgSrc}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---
<!-- "float:right; width: 8rem; height: 8rem; margin:5px;" -->

<!-- style="position:absolute; top:-2.5rem; width: 8rem; height: 8rem; inset-inline-end: 1.5rem; margin:1em;" -->
<div class={`highlight-box content ${absPath}`} style="margin-top:1.5rem;">
	{(!images[absPath]) ? "" : <span style="float:right; width: 3rem; height: 3rem; margin:1em 1.5em;"/> }
	{(!iconName) ? "" : <span style="float:right; width: 3rem; height: 3rem; margin:1em 1.5em;"/> }
	<section>
		<slot />
	</section>
	{(!images[absPath]) ? "" : <Image src={images[absPath]()} alt="Box icon" style="position:absolute; top:-2.5rem; width: 8rem; height: 8rem; inset-inline-end: 1.5rem;"/> }
	{(!iconName) ? "" : <CustomIcon name={iconName} size="8rem" style="position:absolute; top:-2.5rem; inset-inline-end: 1.5rem;" class={iconName=='logo'? "logo" : ""}/> }
	<!-- <Icon name={ imgSrc } size="6rem"/> -->
</div>

<style>
	:global(section > *) + .highlight-box {
		margin: 4rem 0;
	}


	.highlight-box {
		--sl-color-asides-text-accent: var(--sl-color-purple-high);
		--sl-color-details-border: var(--sl-color-purple);
		position: relative;
		padding-block: 2rem;
		padding-inline-start: 2rem;
		padding-inline-end: 4rem;
		border: 1px solid var(--sl-color-purple);
		background-color: var(--sl-color-purple-low);
		color: var(--sl-color-purple-high);
	}

	:global(ol) {
		padding-left: 1.5rem;
	}
</style>
