---
---

<div class="caption">
    <em><slot /></em>
</div>

<style>
    .caption {
        --details-border-color: var(--highlight-box-accent-color, var(--sl-color-asides-text-accent, var(--sl-color-gray-5)));
        text-align: center;
        border-bottom: 1px solid var(--details-border-color);
        border-top: 1px solid var(--details-border-color);
        padding: 0.75rem 0rem;
    }
</style>