<section class="giscus mx-auto mt-10 w-full"></section>

<script src="https://giscus.app/client.js"
        data-repo="ARC4CFD/arc4cfd.github.io"
        data-repo-id="R_kgDOLQScOg"
        data-category-id="DIC_kwDOLQScOs4Cd_9_"
        data-mapping="specific"
        data-term="Feedback"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>