:root {
	--sl-color-bg-sidebar: transparent;
	--top-gradient-bg: hsla(230, 81%, 79%, 0.1);
	--sl-color-bg-nav: var(--sl-color-bg);
}

:root[data-theme='light'] {
	--top-gradient-bg: hsla(244, 100%, 50%, 0.1);
	--sl-color-bg-sidebar: transparent;
}

.page {
	background:
		linear-gradient(185deg, var(--top-gradient-bg), transparent 50vh)
}

header {
	border-bottom: 1px solid transparent;
}

@media (min-width: 72rem) {
	header {
		background-color: transparent !important;
		-webkit-backdrop-filter: blur(2rem) !important;
		backdrop-filter: blur(2rem) !important;
	}
	.right-sidebar {
		border-inline-start-color: transparent;
	}
}

/* Make inline Latex display correctly */
mjx-container svg {
    display: inline !important;
}

/* Extend asides options */
.starlight-aside--green {
	--sl-color-asides-text-accent: var(--sl-color-green-high);
	border-color: var(--sl-color-green);
	background-color: var(--sl-color-green-low);
}
.starlight-aside--purple {
	--sl-color-asides-text-accent: var(--sl-color-purple-high);
	border-color: var(--sl-color-purple);
	background-color: var(--sl-color-purple-low);
}
.starlight-aside--yellow {
	--sl-color-asides-text-accent: var(--sl-color-orange-high);
	border-color: var(--sl-color-orange);
	background-color: var(--sl-color-orange-low);
}
.starlight-aside--red {
	--sl-color-asides-text-accent: var(--sl-color-red-high);
	border-color: var(--sl-color-red);
	background-color: var(--sl-color-red-low);
}
.starlight-aside--bw {
	--sl-color-asides-text-accent: var(--sl-color-white-high);
	border-color: var(--sl-color-white);
	background-color: var(--sl-color-gray-5);
}

/* Box colour options */
.highlight-box--green {
    --highlight-box-accent-color: var(--sl-color-green-high);
    --highlight-box-bg-color: var(--sl-color-green-low);
    --highlight-box-border-color: var(--sl-color-green);
}
.highlight-box--blue {
    --highlight-box-accent-color: var(--sl-color-blue-high);
    --highlight-box-bg-color: var(--sl-color-blue-low);
    --highlight-box-border-color: var(--sl-color-blue);
}
.highlight-box--purple {
    --highlight-box-accent-color: var(--sl-color-purple-high);
    --highlight-box-bg-color: var(--sl-color-purple-low);
    --highlight-box-border-color: var(--sl-color-purple);
}
.highlight-box--yellow {
    --highlight-box-accent-color: var(--sl-color-orange-high);
    --highlight-box-bg-color: var(--sl-color-orange-low);
    --highlight-box-border-color: var(--sl-color-orange);
}
.highlight-box--red {
    --highlight-box-accent-color: var(--sl-color-red-high);
    --highlight-box-bg-color: var(--sl-color-red-low);
    --highlight-box-border-color: var(--sl-color-red);
}
.highlight-box--bw {
    --highlight-box-accent-color: var(--sl-color-white-high);
    --highlight-box-bg-color: var(--sl-color-gray-5);
    --highlight-box-border-color: var(--sl-color-white);
}
.highlight-box--clear {
    --highlight-box-accent-color: var(--sl-color-gray-2);
    --highlight-box-bg-color: transparent;
    --highlight-box-border-color: var(--sl-color-gray-5);
}

.highlight-box a {
    color: var(--highlight-box-accent-color);
}

.highlight-box .highlight-box {
    --highlight-box-border-color: var(--highlight-box-accent-color);
}

/* Make clear box colours friendly with other elements */
.starlight-aside .highlight-box--clear {
    --highlight-box-accent-color: var(--sl-color-asides-text-accent);
    --highlight-box-border-color: var(--sl-color-asides-text-accent);
}

/* Match tab colouring when placed in aside/highlight box */
.highlight-box [role='tablist'] {
    display: flex;
    list-style: none;
    border-bottom: 2px solid var(--highlight-box-accent-color);
    padding: 0;
}

.highlight-box .tab > [role='tab'] {
    border-bottom: 2px solid var(--highlight-box-accent-color);
    color: var(--highlight-box-accent-color);
}
.highlight-box .tab [role='tab'][aria-selected] {
    color: var(--sl-color-white);
    border-bottom: 2px solid var(--sl-color-white);
}

.starlight-aside [role='tablist'] {
    display: flex;
    list-style: none;
    border-bottom: 2px solid var(--sl-color-asides-text-accent);
    padding: 0;
}

.starlight-aside .tab > [role='tab'] {
    border-bottom: 2px solid var(--sl-color-asides-text-accent);
    color: var(--sl-color-asides-text-accent);
}
.starlight-aside .tab [role='tab'][aria-selected] {
    color: var(--sl-color-white);
    border-bottom: 2px solid var(--sl-color-white);
}

/* Match multiple choice colouring when placed in aside/highlight box */
.highlight-box label:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.starlight-aside label:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.highlight-box input[type='radio'] ~ * {
    color: var(--highlight-box-accent-color);
}

.highlight-box input[type='radio']::after {
    border: 2px solid var(--highlight-box-accent-color);
}

.highlight-box .submit {
    color: var(--sl-color-gray-4);
    background-color: hsl(224, 20%, 94%);;
}

.highlight-box .submit:hover {
    background: var(--highlight-box-accent-color);
    color: var(--sl-color-black);
    border-color: transparent;
}

.highlight-box .submit:disabled {
    background-color: hsl(224, 20%, 94%);
    color: var(--highlight-box-accent-color);
    opacity: 0.65;
    cursor: not-allowed;
}

.starlight-aside input[type='radio'] ~ * {
    color: var(--sl-color-asides-text-accent);
}

.starlight-aside input[type='radio']::after {
    border: 2px solid var(--sl-color-asides-text-accent);
}

.starlight-aside .submit {
    color: var(--sl-color-black);
    background-color: hsl(224, 20%, 94%);
}

.starlight-aside .submit:hover {
    background: var(--sl-color-asides-text-accent);
    color: var(--sl-color-black);
    border-color: transparent;
}

.starlight-aside .submit:disabled {
    background-color: hsl(224, 20%, 94%);
    color: var(--sl-color-asides-text-accent);
    opacity: 0.65;
    cursor: not-allowed;
}

/* Adapt table coloring as needed */
.highlight-box td, .highlight-box th {
    border-color: var(--highlight-box-accent-color);
    background: transparent;
}

.highlight-box tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.3);
} 

.starlight-aside td, .starlight-aside th {
    border-color: var(--sl-color-asides-text-accent);
    background: transparent;
}

.starlight-aside tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.3);
} 

/* Make HTML details elements nice */
.sl-markdown-content details:not(.not-content *) {
    --details-pad-y: 0.75rem;
    --details-pad-x: 1rem;
    --details-border-color: var(--sl-color-asides-text-accent, var(--highlight-box-accent-color, var(--sl-color-gray-5)));

    border-bottom: 1px solid var(--details-border-color);
    padding: var(--details-pad-y) var(--details-pad-x);
}

.sl-markdown-content details:not(.not-content *) + details {
    margin-top: 0;
}

.sl-markdown-content summary:not(.not-content *) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: calc(-1 * var(--details-pad-y)) calc(-1 * var(--details-pad-x));
    border: 1px solid transparent;
    padding: var(--details-pad-y) var(--details-pad-x);
    cursor: pointer;
    color: var(--sl-color-white);
}

.sl-markdown-content summary:not(.not-content *)::marker,
.sl-markdown-content summary:not(.not-content *)::-webkit-details-marker {
    display: none;
}

.sl-markdown-content summary:not(.not-content *)::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='m14.83 11.29-4.24-4.24a1 1 0 1 0-1.42 1.41L12.71 12l-3.54 3.54a1 1 0 0 0 0 1.41 1 1 0 0 0 .71.29 1 1 0 0 0 .71-.29l4.24-4.24a1.002 1.002 0 0 0 0-1.42Z'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask-size: 100%;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='m14.83 11.29-4.24-4.24a1 1 0 1 0-1.42 1.41L12.71 12l-3.54 3.54a1 1 0 0 0 0 1.41 1 1 0 0 0 .71.29 1 1 0 0 0 .71-.29l4.24-4.24a1.002 1.002 0 0 0 0-1.42Z'%3E%3C/path%3E%3C/svg%3E");
    mask-size: 100%;
    background-color: var(--sl-color-asides-text-accent, currentColor);
    transition: transform 0.2s ease-in-out;
}

.sl-markdown-content [open] > summary:not(.not-content *) {
    border-color: var(--details-border-color);
    background-color: var(--sl-color-gray-6);
}

.starlight-aside [open] > summary:not(.not-content *) {
    background-color: var(--sl-color-black);
}

.highlight-box [open] > summary:not(.not-content *) {
    background-color: var(--sl-color-black);
}

.sl-markdown-content details[open] > summary {
    margin-bottom: 1rem;
}

.sl-markdown-content [open] > summary:not(.not-content *)::after {
    transform: rotate(90deg);
}

.sl-markdown-content details + details > summary:not(.not-content *) {
    border-top: 0;
}

.sl-markdown-content {
    text-align: justify;
}